/* ==========================================================================
   Color variable assignments
   ========================================================================== */

$color-blue-base: #00A8C6;
  $color-blue-lighter-1: #D6EDFC;
  $color-blue-lighter-2: #C0E5F9;
  $color-blue-lighter-3: #AADDF6;
  $color-blue-lighter-4: #94D5F3;

$color-grey-base: #333333;
  $color-grey-lighter-1: #999999;

$color-white: #FFFFFF;